@page "/movies"

<h1>Movies</h1>

@if (_movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (_movies.ResultType == ResultType.Ok)
    {
        <AuthorizeView Roles="Producer">
            <Authorized>
                <div>
                    <input type="checkbox" name="my-movies"
                           @onchange="ChangeMovieShowAsync" />
                    <label for="my-movies">Only my movies</label>
                </div>
            </Authorized>
        </AuthorizeView>

        <table class="table">
            <thead>

            </thead>
            <tbody>
                @foreach (var movie in _moviesToShow)
                {
                    var link = $"/movies/{movie.MovieId}";                    
                    <tr>
                        <td>
                            <NavLink class="nav" href="@link">
                                @movie.MovieName
                            </NavLink>                            
                        </td>
                        <td><p>Duration: @movie.Duration</p></td>
                        <td><p>Rate: @movie.Rate</p></td>                        
                        <td>
                            @if (_canShowEdit && _currentUser.Value.UserId == movie.ProducerId)
                            {
                                var editLink = $"{link}/edit";
                                <NavLink class="nav" href="@editLink">Edit</NavLink>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    }
    else
    {
        <ErrorResult Result=@_movies/>
    }
}