@page "/movies"

<h1>Movies</h1>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (movies.ResultType == ResultType.Ok)
    {
        <AuthorizeView Roles="Producer">
            <Authorized>
                <div>
                    <input type="checkbox" name="my-movies"
                           @onchange="OnShowInlyMyMoviesAsync" />
                    <label for="my-movies">Only my movies</label>
                </div>
                <div>
                    <NavLink class="nav-link" href="/movies/add">Add Movie</NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <table class="table">
            <thead>

            </thead>
            <tbody>
                @foreach (var movie in moviesToShow)
                {
                    var link = $"/movies/{movie.MovieId}";
                    <tr>
                        <td>
                            <NavLink class="nav" href="@link">
                                @movie.MovieName
                            </NavLink>
                        </td>
                        <td><p>Duration: @movie.Duration</p></td>
                        <td><p>Rate: @movie.Rate</p></td>
                        <td>
                            @if (canShowEdit && currentUser.Value.UserId == movie.ProducerId)
                            {
                                var editLink = $"{link}/edit";
                                <NavLink class="nav" href="@editLink">Edit</NavLink>
                            }
                        </td>
                        <td>
                            @if (canShowEdit && currentUser.Value.UserId == movie.ProducerId)
                            {
                                <button class="btn-danger" @onclick="() => ShowDeleteDialog(movie.MovieId)">Delete</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <ErrorResult Result=@movies />
    }

    @if (deleteDialogOpen)
    {
        <ConfirmDialog Title="Are you sure?"
                     Text="Do you want to delete this entry?"
                     OnClose="@OnDeleteAsync"
                     DialogType="ConfirmDialog.ModalDialogType.DeleteCancel">
        </ConfirmDialog>
    }
}
