@page "/movies"

@inject IMovieService _movieService;

<h1>Movies</h1>


@if (_movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (_movies.ResultType == ResultType.Ok)
    {
        <table class="table">
            <thead>
            
            </thead>
            <tbody>
            @foreach (var movie in _movies.Value)
            {
                
                <tr>
                    <td>
                        <NavLink class="nav-link" href="/">
                            @movie.MovieName
                        </NavLink>
                    </td>
                    <td>@movie.Duration</td>
                    <td>@movie.Rate</td>
                </tr>
                
            }
            </tbody>
        </table>
    }
    else
    {
        <div>
            <h2>@_movies.Title</h2>
            <table class="table-danger">
                <tbody>
                @foreach (var error in _movies.Errors)
                {
                    <tr>
                        <td>@error.Key</td>
                        <td>@error.Value</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
}

@code {
    private Result<IEnumerable<Movie>> _movies;

protected override async Task OnInitializedAsync()
{
    _movies = await _movieService.GetAllMoviesAsync();
}
}